.dropdown-container {
  position: relative;
  // display: flex;
  // align-items: stretch;
  // flex-direction: column;
}

.field {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #DADEDF;
  border-radius: 2px;
  padding: 7px 7.5px;
  max-width: 300px;

  &-checkbox {
    width: 18px;
    height: 18px;
  }

  &-label {
    user-select: none;
    font-size: 15px;
  }
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  max-width: 300px;
  padding-top: 1px;

  .dropdown-item {
    border: 1px solid #DADEDF;
    width: 100%;

    .subcategories-container,
    .categories-container {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 7px 7.5px;
      font-size: 15px;
    }
  }
}

.grey-item {
  color: #92989B
}





// Colors category
.blue { background-color: #99CCFD; }
.yellow { background-color: #FFFF99; }
.orange { background-color: #FFCC66; }
.green { background-color: #CCFF66; }
